<h1>Edit Product</h1>
<section>
    <div class="edit">
    <form (submit)="update()" #formData="ngForm">
      <p>Title
        <input type="text" name="title"
        [(ngModel)]="product.title"
        >
      </p>
      <p>Price
        <input type="number" name="price"
        [(ngModel)]="product.price"
        >
      </p>
      <p>Image Url
        <input type="url" name="url"
        [(ngModel)]="product.url"
        >
      </p>  
      <input type='submit' value="UPDATE">
    </form>
    </div>
  </section>